*.orig
#Ignore files build by Visual Studio
.vs/*
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.user
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
#ignore thumbnails created by windows
Thumbs.db



/UpgradeLog.htm
REPL.Contracts/bin/Debug/REPL.Contracts.dll.config
REPL.Contracts/bin/Debug/System.Reflection.Metadata.dll
REPL.Contracts/bin/Debug/System.Reflection.Metadata.xml
REPL.Contracts/bin/Debug/System.Text.Encoding.CodePages.dll
REPL.Contracts/project.lock.json
REPL.Contracts/REPL.Contracts.nuget.props
REPL.DI/project.lock.json
REPL.DI/REPL.DI.nuget.props
