*.orig
#Ignore files build by Visual Studio
.vs/*
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.user
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
#ignore thumbnails created by windows
Thumbs.db



/UpgradeLog.htm
