<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Compilers" version="2.6.0-beta3" targetFramework="net471" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net471" />
  <package id="System.Collections.Immutable.Analyzers" version="1.2.0-beta2" targetFramework="net471" />
</packages>